body {
    background-color: #FAF9F6;
    margin: 0;
    padding: 0;
  }
  .col-md-12 {
    width: 100%;
  }
  .banner {
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #D0D9B3;
    width: 100%;
    text-align: center;
  
  }
  li {
    display: inline-block; /* This ensures the li elements are displayed horizontally */
    margin: 0 75px; /* Add more margin to separate each item */
  }
  li a, .dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #96b37e;
  }
  li.dropdown {
    display: inline-block
  }
  .dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #666;
    padding: 16px 16px;
    background-color: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #D0D9B3;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    width: 5%;
  }
  .tab {
    width: 100%;
    border-collapse: collapse;
  }
  .tab td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
  }
  
  .row{
    padding-top: 0px;
    margin-top: 0px;
  }
  
  
  /*study css starts here*/
  h1{
    padding-top: 50px;
    text-align: center;
    color: #616161;
  }
  p{
    text-align: center;
  }
  .cross{
    font-size: 25px;
  } 
    .collapsible {
      background-color: #f1f1f1;
      color: #333;
      cursor: pointer;
      padding: 10px 15px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: 0.4s;
    }
  
    .collapsible:hover {
      background-color: #ddd;
    }
  
    .active, .collapsible:hover {
      background-color: #D0D9B3;
    }
  
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }
  
    /*end of the styling for the collapsible*/
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #D0D9B3;
    z-index: 1000; /* Ensure the navbar appears above other content */
  }
  .content {
    padding-top: 50px; /* Add space above the content */
  }
  footer{
    background-color: #D0D9B3;
    padding: 20px;
    text-align: center;
  }
  